<a href="https://colab.research.google.com/github/mohnishverma87/100-Days-Of-ML-Code/blob/master/1-IntroductiontoPython/python_project_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import seaborn as sns   # Why sns?  It's a reference to The West Wing
import matplotlib.pyplot as plt  # seaborn is based on matplotlib
sns.set(color_codes=True) # adds a nice background to the graphs
%matplotlib inline 
# tells python to actually display the graphs

In [0]:
# rm -rf PGPAIML

In [6]:
GIT_USERNAME = "mohnishverma87" # replace with yours
GIT_TOKEN = "084443734184028f1c23316a94661667ac54b7e1"           # definitely replace with yours
GIT_REPOSITORY = "PGPAIML"      # ...nah
! git clone https://{GIT_TOKEN}@github.com/{GIT_USERNAME}/{GIT_REPOSITORY}.git

Cloning into 'PGPAIML'...
remote: Enumerating objects: 103, done.
remote: Counting objects: 100% (103/103), done.
remote: Compressing objects: 100% (101/101), done.
remote: Total 103 (delta 51), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (103/103), 1.64 MiB | 5.82 MiB/s, done.
Resolving deltas: 100% (51/51), done.

In [0]:
# !cd /content/PGPAIML/1-IntroductiontoPython/python-project-problem

In [21]:
cd python-project-problem/

/content/PGPAIML/1-IntroductiontoPython/python-project-problem

In [24]:
ls -lrth

total 2.2M
-rw-r--r-- 1 root root 1.9M May 10 19:15 u.data
-rw-r--r-- 1 root root 231K May 10 19:15 u.item
-rw-r--r-- 1 root root  23K May 10 19:15 u.user

In [34]:
rating_columns = ['user id','item id', 'rating', 'timestamp']
rating = pd.read_table('u.data',header = None)
rating.columns = rating_columns
rating.head()

   user id  item id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [45]:
movies_columns = ['movie id', 'movie title', 'release date', 'video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies = pd.read_table('u.item', header = None, encoding = 'ISO-8859-1',delimiter='|')
movies.columns = movies_columns
movies.head()

   movie id        movie title release date  ...  Thriller War  Western
0         1   Toy Story (1995)  01-Jan-1995  ...         0   0        0
1         2   GoldenEye (1995)  01-Jan-1995  ...         1   0        0
2         3  Four Rooms (1995)  01-Jan-1995  ...         1   0        0
3         4  Get Shorty (1995)  01-Jan-1995  ...         0   0        0
4         5     Copycat (1995)  01-Jan-1995  ...         1   0        0

[5 rows x 24 columns]

In [48]:
user_columns = ['user id', 'age', 'gender', 'occupation', 'zip code']
user = pd.read_table('u.user',header = None, delimiter = '|')
user.columns = user_columns
user.head()

   user id  age gender  occupation zip code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213